img {
    width: 200px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 1rem;
}

li { 
    font-size: 20px; 
    color: black;
}

.background { 
    background-color: white;
}

