img {
    width: 100px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 1rem;
}

li { 
    font-size: 100px; 
    color: black;
}

.background { 
    background-color: orange;
}

